{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
    <div class="row text-white mb-5 ">
        <p class="mx-auto mb-5">
            Do you have any questions? Please do not hesitate to contact.
            I will come back to you within a matter of hours to help to help you.
        </p>
        <div class="row mx-1 ">
            <div class="card col " style="width: 10rem;">
                <div class="card-body">
                    <h3 class="mt-3 text-center text-warning " style="font-family: 'Cabin', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Satisfy', cursive;">Shahid Malik</h3>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputName">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputContact" class="form-label">Contact</label>
                            <input type="number" class="form-control" id="exampleInputContact">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-primary mx-4">Reset</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}